<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>20D90</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AppleIntelIVBVA</string>
	<key>CFBundleGetInfoString</key>
	<string>AppleIntelIVBVA 16.1.12 10</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.AppleIntelIVBVA</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AppleIntelIVBVA</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>16.1.12</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>16.0.1</string>
	<key>CSResourcesFileMapped</key>
	<string>yes</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>12A8179f</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>11.2</string>
	<key>DTSDKBuild</key>
	<string>20D90</string>
	<key>DTSDKName</key>
	<string>macosx11.2internal</string>
	<key>DTXcode</key>
	<string>1200</string>
	<key>DTXcodeBuild</key>
	<string>12A8179f</string>
	<key>LSMinimumSystemVersion</key>
	<string>11.2</string>
	<key>System Support</key>
	<dict>
		<key>TSNBCRB1,1</key>
		<dict>
			<key>boostIG</key>
			<true/>
			<key>preferredBGRA</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
