<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AppleIntelHD4000Graphics</string>
	<key>CFBundleGetInfoString</key>
	<string>AppleIntelHD4000Graphics 16.1.12 10</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.AppleIntelHD4000Graphics</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Apple Embedded Graphics Kernel Extension</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>16.1.12</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>16.0.1</string>
	<key>GPUCompanionBundles</key>
	<array>
		<string>AppleIntelHD4000GraphicsGLDriver.bundle</string>
		<string>AppleIntelHD4000GraphicsMTLDriver.bundle</string>
		<string>AppleIntelHD4000GraphicsVADriver.bundle</string>
		<string>AppleIntelIVBVA.bundle</string>
		<string>AppleIntelGraphicsShared.bundle</string>
	</array>
	<key>IOKitPersonalities</key>
	<dict>
		<key>Gen7</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleIntelHD4000Graphics</string>
			<key>CompactVRAM</key>
			<integer>1</integer>
			<key>DisplayPipeBarrier</key>
			<integer>1</integer>
			<key>HwCtxCacheUpdate</key>
			<integer>1</integer>
			<key>IOAccelDisplayPipeCapabilities</key>
			<dict>
				<key>DisplayPipeSupported</key>
				<true/>
				<key>TransactionsSupported</key>
				<true/>
			</dict>
			<key>IOCFPlugInTypes</key>
			<dict>
				<key>ACCF0000-0000-0000-0000-000a2789904e</key>
				<string>IOAccelerator2D.plugin</string>
			</dict>
			<key>IOClass</key>
			<string>IntelAccelerator</string>
			<key>IODVDBundleName</key>
			<string>AppleIntelHD4000GraphicsVADriver</string>
			<key>IOGLBundleName</key>
			<string>AppleIntelHD4000GraphicsGLDriver</string>
			<key>IOGVACodec</key>
			<string>Gen7</string>
			<key>IOGVAH264EncodeCapabilities</key>
			<dict>
				<key>VTQualityRating</key>
				<integer>50</integer>
				<key>VTRating</key>
				<integer>400</integer>
			</dict>
			<key>IOGVAScaler</key>
			<string>Gen7</string>
			<key>IOMatchCategory</key>
			<string>IOAccelerator</string>
			<key>IOPCIClassMatch</key>
			<string>0x03000000&amp;0xff000000</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x01528086 0x01568086 0x01628086 0x01668086</string>
			<key>IOProbeScore</key>
			<integer>2000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>IOSourceVersion</key>
			<string>0.0.0.0.0</string>
			<key>IOVARendererID</key>
			<integer>17301506</integer>
			<key>MetalCoalesce</key>
			<integer>1</integer>
			<key>MetalPluginName</key>
			<string>AppleIntelHD4000GraphicsMTLDriver</string>
			<key>TelemetryDisable</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 1999-2012 Apple Inc. All rights reserved.</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOAcceleratorFamily2</key>
		<string>2.0.0</string>
		<key>com.apple.iokit.IOGraphicsFamily</key>
		<string>1.0.0b1</string>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>1.0.0b1</string>
		<key>com.apple.iokit.IOSurface</key>
		<string>87.0</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.private</key>
		<string>10.0.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>8.0.0</string>
	</dict>
</dict>
</plist>
