<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildVersion</key>
	<string>856</string>
	<key>CFBundleShortVersionString</key>
	<string>10.2.12</string>
	<key>CFBundleVersion</key>
	<string>10.0.2</string>
	<key>ProjectName</key>
	<string>GraphicsDrivers</string>
	<key>SourceVersion</key>
	<string>10002012000000</string>
</dict>
</plist>
