<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AppleIntelGraphicsSharedIL</string>
	<key>CFBundleGetInfoString</key>
	<string>AppleIntelGraphicsSharedIL 16.1.12 10</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.AppleIntelGraphicsSharedIL</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Apple Intel Graphics Shared IL</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>16.1.12</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>16.0.1</string>
	<key>NSPrincipalClass</key>
	<string>AppleIntelGraphicsSharedIL</string>
</dict>
</plist>
