<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIdentifier</key>
	<string>com.AnV_Software.driver.AnyiSightCam</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AnyiSightCam</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>8.8.8</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>Fake Built-in iSight Device</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>kSuspendPort</key>
				<true/>
				<key>bcdDevice</key>
				<integer>1077</integer>
				<key>USB Product Name</key>
				<string>Built-in iSight</string>
				<key>USB Vendor Name</key>
				<string>Apple Inc.</string>
				<key>USB Serial Number</key>
				<string>8JA1K2FC3DCLDA00</string>
				<key>non-removable</key>
				<string>yes</string>
				<key>idProduct</key>
				<integer>8507</integer>
				<key>idVendor</key>
				<integer>1452</integer>
				<key>iManufacturer</key>
				<integer>1</integer>
				<key>iProduct</key>
				<integer>2</integer>
				<key>iSerialNumber</key>
				<integer>3</integer>
			</dict>
			<key>idProduct</key>
			<integer>20770</integer>
			<key>idVendor</key>
			<integer>5075</integer>
		</dict>
		<key>Fake Built-in iSight Interface A</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>USB Interface Name</key>
				<string>Built-in iSight</string>
				<key>bcdDevice</key>
				<integer>1077</integer>
				<key>idProduct</key>
				<integer>34055</integer>
				<key>idVendor</key>
				<integer>1452</integer>
			</dict>
			<key>bConfigurationValue</key>
			<string>*</string>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>20770</integer>
			<key>idVendor</key>
			<integer>5075</integer>
		</dict>
		<key>Fake Built-in iSight Interface B</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>bcdDevice</key>
				<integer>1077</integer>
				<key>idProduct</key>
				<integer>34055</integer>
				<key>idVendor</key>
				<integer>1452</integer>
				<key>USB Interface Name</key>
				<string>Built-in iSight</string>
			</dict>
			<key>bConfigurationValue</key>
			<string>*</string>
			<key>bInterfaceNumber</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>20770</integer>
			<key>idVendor</key>
			<integer>5075</integer>
		</dict>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
