<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AppleIntelHD4000GraphicsMTLDriver</string>
	<key>CFBundleGetInfoString</key>
	<string>AppleIntelHD4000GraphicsMTLDriver 16.1.12 10</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.AppleIntelHD4000GraphicsMTLDriver</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Intel g7 MTL Driver</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>16.1.12</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>16.0.1</string>
	<key>Development</key>
	<dict>
		<key>ClampMaxWorkGroupSizeTo1024Disable</key>
		<integer>0</integer>
	</dict>
	<key>NSPrincipalClass</key>
	<string>MTLIGAccelDevice</string>
</dict>
</plist>
