<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PciRoot(0x0)/Pci(0x1,0x0)/Pci(0x0,0x0)</key>
	<dict>
		<key>@0,AAPL,boot-display</key>
		<data>
		AQAAAA==
		</data>
		<key>@0,compatible</key>
		<string>NVDA,NVMac</string>
		<key>@0,connector-type</key>
		<data>
		AAgAAA==
		</data>
		<key>@0,device_type</key>
		<string>display</string>
		<key>@0,display-cfg</key>
		<data>
		AwEDAA==
		</data>
		<key>@0,name</key>
		<string>NVDA,Display-A</string>
		<key>@1,compatible</key>
		<string>NVDA,NVMac</string>
		<key>@1,device_type</key>
		<string>display</string>
		<key>@1,display-cfg</key>
		<data>
		//8AAQ==
		</data>
		<key>@1,name</key>
		<string>NVDA,Display-B</string>
		<key>AAPL00,override-no-connect</key>
		<data>
		AP///////wBMo0oyAAAAAAAVAQOAIhN4Cs6FnltMlCYXUFQAAAABAQEBAQEB
		AQEBAQEBAQEBfR5WGFEAFjAwICUAWMIQAAAZAAAADwAAAAAAAAAAAB60AnQA
		AAAA/gBTQU1TVU5HCiAgICAgAAAA/gAxNTZBVDI0LVAwMQogABw=
		</data>
		<key>NVCAP</key>
		<data>
		BAAAAAAAeQACAAAAAAAABwAAAAA=
		</data>
		<key>NVPM</key>
		<data>
		AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==
		</data>
		<key>VRAM,totalsize</key>
		<data>
		AAAQAAAA4P8=
		</data>
		<key>device_type</key>
		<string>NVDA,Parent</string>
		<key>hda-gfx</key>
		<data>
		b25ib2FyZC0xAA==
		</data>
		<key>model</key>
		<string>Asus GeForce GT 610M</string>
		<key>rom-revision</key>
		<string>1.0</string>
	</dict>
	<key>PciRoot(0x0)/Pci(0x14,0x0)</key>
	<dict>
		<key>AAPL,clock-id</key>
		<data>
		AA==
		</data>
		<key>AAPL,current-available</key>
		<data>
		sAQ=
		</data>
		<key>AAPL,current-extra</key>
		<data>
		vAI=
		</data>
		<key>AAPL,current-in-sleep</key>
		<data>
		6AM=
		</data>
		<key>built-in</key>
		<data>
		AA==
		</data>
		<key>device_type</key>
		<string>XHCI</string>
	</dict>
	<key>PciRoot(0x0)/Pci(0x1a,0x0)</key>
	<dict>
		<key>AAPL,clock-id</key>
		<data>
		AQ==
		</data>
		<key>AAPL,current-available</key>
		<data>
		sAQ=
		</data>
		<key>AAPL,current-extra</key>
		<data>
		vAI=
		</data>
		<key>AAPL,current-in-sleep</key>
		<data>
		6AM=
		</data>
		<key>built-in</key>
		<data>
		AA==
		</data>
		<key>device_type</key>
		<string>EHCI</string>
	</dict>
	<key>PciRoot(0x0)/Pci(0x1b,0x0)</key>
	<dict>
		<key>MaximumBootBeepVolume</key>
		<data>
		AA==
		</data>
		<key>PinConfigurations</key>
		<data>
		AA==
		</data>
		<key>layout-id</key>
		<data>
		AwAAAA==
		</data>
	</dict>
	<key>PciRoot(0x0)/Pci(0x1d,0x0)</key>
	<dict>
		<key>AAPL,clock-id</key>
		<data>
		Ag==
		</data>
		<key>AAPL,current-available</key>
		<data>
		sAQ=
		</data>
		<key>AAPL,current-extra</key>
		<data>
		vAI=
		</data>
		<key>AAPL,current-in-sleep</key>
		<data>
		6AM=
		</data>
		<key>built-in</key>
		<data>
		AA==
		</data>
		<key>device_type</key>
		<string>EHCI</string>
	</dict>
	<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
	<dict>
		<key>AAPL,HasPanel</key>
		<data>
		AQAAAA==
		</data>
		<key>AAPL,ig-platform-id</key>
		<data>
		AwBmAQ==
		</data>
		<key>AAPL00,DualLink</key>
		<data>
		AQ==
		</data>
		<key>AAPL00,override-no-connect</key>
		<data>
		AP///////wBMo0oyAAAAAAAVAQOAIhN4Cs6FnltMlCYXUFQAAAABAQEBAQEB
		AQEBAQEBAQEBfR5WGFEAFjAwICUAWMIQAAAZAAAADwAAAAAAAAAAAB60AnQA
		AAAA/gBTQU1TVU5HCiAgICAgAAAA/gAxNTZBVDI0LVAwMQogABw=
		</data>
		<key>built-in</key>
		<data>
		AA==
		</data>
		<key>class-code</key>
		<data>
		AAADAA==
		</data>
		<key>device_type</key>
		<string>display</string>
		<key>model</key>
		<string>Intel HD Graphics 4000</string>
		<key>subsystem-vendor-id</key>
		<data>
		axAAAA==
		</data>
	</dict>
</dict>
</plist>
