<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>DSDT</key>
		<dict>
			<key>Fixes</key>
			<dict>
				<key>AddDTGP_0001</key>
				<true/>
				<key>AddHDMI_8000000</key>
				<true/>
				<key>AddPNLF_1000000</key>
				<true/>
				<key>DeleteUnused_400000</key>
				<true/>
				<key>FIX_ACST_4000000</key>
				<true/>
				<key>FIX_ADP1_800000</key>
				<true/>
				<key>FIX_RTC_20000</key>
				<true/>
				<key>FIX_TMR_40000</key>
				<true/>
				<key>FIX_WAK_200000</key>
				<true/>
				<key>FixDarwin_0002</key>
				<true/>
				<key>FixFirewire_0800</key>
				<true/>
				<key>FixHPET_0010</key>
				<true/>
				<key>FixIPIC_0040</key>
				<true/>
				<key>FixLAN_2000</key>
				<true/>
				<key>FixRegions_10000000</key>
				<true/>
				<key>FixShutdown_0004</key>
				<true/>
			</dict>
			<key>Name</key>
			<string>DSDT.aml</string>
		</dict>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>Cpu0Ist</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>CpuPm</string>
			</dict>
		</array>
		<key>HaltEnabler</key>
		<true/>
		<key>SSDT</key>
		<dict>
			<key>DropOem</key>
			<false/>
			<key>EnableC2</key>
			<true/>
			<key>Generate</key>
			<dict>
				<key>CStates</key>
				<false/>
				<key>PStates</key>
				<false/>
			</dict>
			<key>MaxMultiplier</key>
			<integer>31</integer>
			<key>MinMultiplier</key>
			<integer>9</integer>
			<key>PluginType</key>
			<integer>1</integer>
		</dict>
		<key>SortedOrder</key>
		<array>
			<string>SSDT.aml</string>
			<string>SSDT-0.aml</string>
			<string>SSDT-1.aml</string>
			<string>SSDT-2.aml</string>
			<string>SSDT-3.aml</string>
			<string>SSDT-4.aml</string>
			<string>SSDT-5.aml</string>
		</array>
		<key>SortedOrder-Comment</key>
		<string>This is the original order supported by Clover prior to build v3062.  You can trim it as necessary.</string>
	</dict>
	<key>Boot</key>
	<dict>
		<key>#Timeout</key>
		<integer>5</integer>
		<key>Arguments</key>
		<string>slide=0 dart=0 nv_disable=1 kext-dev-mode=1 rootless=0 NoCaches</string>
		<key>CustomLogo</key>
		<string>Apple</string>
		<key>Debug</key>
		<false/>
		<key>DefaultLoader</key>
		<string>boot.efi</string>
		<key>DefaultVolume</key>
		<string>Macintosh HD</string>
		<key>Fast</key>
		<true/>
		<key>Legacy</key>
		<string>LegacyBiosDefault</string>
		<key>Log</key>
		<false/>
		<key>NeverHibernate</key>
		<true/>
		<key>Secure</key>
		<false/>
		<key>XMPDetection</key>
		<string>Yes</string>
	</dict>
	<key>CPU</key>
	<dict>
		<key>C2</key>
		<true/>
		<key>TurboDisable</key>
		<true/>
	</dict>
	<key>Devices</key>
	<dict>
		<key>Audio</key>
		<dict>
			<key>Inject</key>
			<string>3</string>
			<key>ResetHDA</key>
			<true/>
		</dict>
		<key>FakeID</key>
		<dict>
			<key>ATI</key>
			<string>0x0</string>
		</dict>
		<key>USB</key>
		<dict>
			<key>AddClockID</key>
			<true/>
			<key>FixOwnership</key>
			<true/>
			<key>Inject</key>
			<true/>
		</dict>
	</dict>
	<key>DisableDrivers</key>
	<array>
		<string>VBoxHfs</string>
	</array>
	<key>GUI</key>
	<dict>
		<key>ConsoleMode</key>
		<string>0</string>
		<key>Hide</key>
		<array>
			<string>grubx64.efi</string>
			<string>shim.efi</string>
			<string>bootx64.efi</string>
		</array>
		<key>Language</key>
		<string>en:0</string>
		<key>Mouse</key>
		<dict>
			<key>DoubleClick</key>
			<integer>500</integer>
			<key>Enabled</key>
			<true/>
			<key>Speed</key>
			<integer>8</integer>
		</dict>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Linux</key>
			<false/>
			<key>Tool</key>
			<false/>
		</dict>
		<key>ScreenResolution</key>
		<string>1366x768</string>
		<key>Theme</key>
		<string>blackbc</string>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>EDID</key>
		<dict>
			<key>Custom</key>
			<data>
			AP///////wBMo0oyAAAAAAAVAQOAIhN4Cs6FnltMlCYXUFQAAAAB
			AQEBAQEBAQEBAQEBAQEBfR5WGFEAFjAwICUAWMIQAAAZAAAADwAA
			AAAAAAAAAB60AnQAAAAA/gBTQU1TVU5HCiAgICAgAAAA/gAxNTZB
			VDI0LVAwMQogABw=
			</data>
			<key>Inject</key>
			<true/>
			<key>ProductID</key>
			<string>12874</string>
			<key>VendorID</key>
			<string>19619</string>
		</dict>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<false/>
			<key>Intel</key>
			<true/>
			<key>NVidia</key>
			<false/>
		</dict>
		<key>ig-platform-id</key>
		<string>0x01660003</string>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleRTC</key>
		<true/>
		<key>AsusAICPUPM</key>
		<true/>
		<key>ForceKextsToLoad</key>
		<array>
			<string>\System\Library\Extensions\IO80211Family.kext</string>
		</array>
		<key>KernelPm</key>
		<true/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Boot graphics glitch, 10.10.2/10.10.3</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				QYjE6xE=
				</data>
				<key>Name</key>
				<string>disabled:IOGraphicsFamily</string>
				<key>Replace</key>
				<data>
				QYjE6zE=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string> Boot graphics glitch, 10.10.x/10.11.x</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				AQAAdRc=
				</data>
				<key>Name</key>
				<string>IOGraphicsFamily</string>
				<key>Replace</key>
				<data>
				AQAA6xc=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Boot graphics glitch, 10.12.dp1 (credit denskop)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				ABAAB1IF
				</data>
				<key>MatchOS</key>
				<string>10.12.x</string>
				<key>Name</key>
				<string>IOGraphicsFamily</string>
				<key>Replace</key>
				<data>
				ABAADrIF
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Boot graphics glitch, 10.12.dp1</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AQAAdSU=
				</data>
				<key>MatchOS</key>
				<string>10.12.x</string>
				<key>Name</key>
				<string>com.apple.iokit.IOGraphicsFamily</string>
				<key>Replace</key>
				<data>
				AQAA6yU=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio HD4000 0x01660003, port 0205</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				AgUAAAAEAAAHBAAA
				</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelFramebufferCapri</string>
				<key>Replace</key>
				<data>
				AgUAAAAIAAAGAAAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio HD4000 0x01660003, port 0304</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				AwQAAAAEAACBAAAA
				</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelFramebufferCapri</string>
				<key>Replace</key>
				<data>
				AwQAAAAIAAAGAAAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio HD4000 0x01660003, port 0406</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				BAYAAAAEAACBAAAA
				</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelFramebufferCapri</string>
				<key>Replace</key>
				<data>
				BAYAAAAIAAAGAAAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>10.12-Capri-Port _0x5-DP2HDMI</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AgUAAAAEAAAHAQAA
				</data>
				<key>Name</key>
				<string>AppleIntelFramebufferCapri</string>
				<key>Replace</key>
				<data>
				AgUAAAAIAAAGAAAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>10.12-Capri-Port _0x6-DP2HDMI</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AwQAAAAEAAAHAQAA
				</data>
				<key>Name</key>
				<string>AppleIntelFramebufferCapri</string>
				<key>Replace</key>
				<data>
				AwQAAAAIAAAGAAAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>10.12-Capri-Port _0x7-HDMI2DP</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				BAYAAAAIAAAGAAAA
				</data>
				<key>Name</key>
				<string>AppleIntelFramebufferCapri</string>
				<key>Replace</key>
				<data>
				BAYAAAAEAAAHAQAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-video, 64MB BIOS, HD4000 0x01660004 #1 of 2</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				BABmAQEDAQEAAAAC
				</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelFramebufferCapri</string>
				<key>Replace</key>
				<data>
				BABmAQECBAIAAAAE
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-video, 64MB BIOS, HD4000 0x01660004 #2 of 2</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				MAIAAAAAAAABAAAAQAAAAAAAAAABAAAAQAAAAAAAAAAB
				AAAAQAAAAAAAAAAAAAAA
				</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelFramebufferCapri</string>
				<key>Replace</key>
				<data>
				MAIAAAIFAAAABAAABwQAAAMEAAAABAAAgQAAAAQGAAAA
				BAAAgQAAAAAAAAAAAgAR
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio HD4000 0x01660004, port 0205</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				AgUAAAAEAAAHBAAA
				</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelFramebufferCapri</string>
				<key>Replace</key>
				<data>
				AgUAAAAIAAAGAAAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio HD4000 0x01660004, port 0304</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				AwQAAAAEAACBAAAA
				</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelFramebufferCapri</string>
				<key>Replace</key>
				<data>
				AwQAAAAIAAAGAAAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio HD4000 0x01660004, port 0406</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				BAYAAAAEAACBAAAA
				</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelFramebufferCapri</string>
				<key>Replace</key>
				<data>
				BAYAAAAIAAAGAAAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Zeroing 10ec0885 codec (patched by AppleHDA Patcher.app)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				hQjsEA==
				</data>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Replace</key>
				<data>
				AAAAAA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI Audio 1</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				PQwKAAB0Dg==
				</data>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>
				PQwMAAB0Dg==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI Audio 2</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				PQwKAAAPhA==
				</data>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>
				PQwMAAAPhA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI Audio 3</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				PQwKAAAPhSABAAA=
				</data>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>
				PQwMAAB0S5CQkJA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>AppleHDA Patch</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				hAjsEA==
				</data>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Replace</key>
				<data>
				AAAAAA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>AppleHDA Patch</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				gxnUEQ==
				</data>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Replace</key>
				<data>
				AAAAAA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Patching 11d41984 with 10ec0270 codec (patched by AppleHDA Patcher.app)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				hBnUEQ==
				</data>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Replace</key>
				<data>
				cALsEA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>10.12-AppleHDA/Realtek ALC...</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				ihnUEQ==
				</data>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Replace</key>
				<data>
				AAAAAA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Make all drives to be internal</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				RXh0ZXJuYWw=
				</data>
				<key>Name</key>
				<string>AppleAHCIPort</string>
				<key>Replace</key>
				<data>
				SW50ZXJuYWw=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>change 15 port limit to 26 in XHCI kext (100-series)</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				g72M/v//EA==
				</data>
				<key>MatchOS</key>
				<string>10.11.x</string>
				<key>Name</key>
				<string>com.apple.driver.usb.AppleUSBXHCIPCI</string>
				<key>Replace</key>
				<data>
				g72M/v//Gw==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>change 15 port limit to 26 in XHCI kext (100-series)</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				g710////EA==
				</data>
				<key>MatchOS</key>
				<string>10.12.x</string>
				<key>Name</key>
				<string>com.apple.driver.usb.AppleUSBXHCIPCI</string>
				<key>Replace</key>
				<data>
				g710////Gw==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable TRIM for non-Apple SSDs</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AEFQUExFIFNTRAA=
				</data>
				<key>Name</key>
				<string>com.apple.iokit.IOAHCIBlockStorage</string>
				<key>Replace</key>
				<data>
				AAAAAAAAAAAAAAA=
				</data>
			</dict>
		</array>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
		<key>MLB</key>
		<string>C02JCXFCDTY36BF5A</string>
		<key>ROM</key>
		<string>8b8554f9c9c9</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>BiosReleaseDate</key>
		<string>21/03/12</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>BiosVersion</key>
		<string>MBP91.88Z.00D3.B00.1203211536</string>
		<key>Board-ID</key>
		<string>Mac-6F01561E16C75D06</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardSerialNumber</key>
		<string>C02JCXFCDTY36BF5A</string>
		<key>BoardType</key>
		<integer>10</integer>
		<key>ChassisAssetTag</key>
		<string>MacBook-Aluminum</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>8</string>
		<key>Family</key>
		<string>MacBook Pro</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>Memory</key>
		<dict>
			<key>Channels</key>
			<integer>2</integer>
			<key>Modules</key>
			<array>
				<dict>
					<key>Frequency</key>
					<integer>1600</integer>
					<key>Part</key>
					<string>SSZ302G08-GGNHC12</string>
					<key>Serial</key>
					<string>000000010D030000</string>
					<key>Size</key>
					<integer>2048</integer>
					<key>Slot</key>
					<integer>0</integer>
					<key>Type</key>
					<string>DDR3</string>
					<key>Vendor</key>
					<string>8086</string>
				</dict>
				<dict>
					<key>Frequency</key>
					<integer>1600</integer>
					<key>Part</key>
					<string>EBJ40UG8BBU0-GN-F0</string>
					<key>Serial</key>
					<string>01000701050F0608</string>
					<key>Size</key>
					<integer>4096</integer>
					<key>Slot</key>
					<integer>2</integer>
					<key>Type</key>
					<string>DDR3</string>
					<key>Vendor</key>
					<string>8086</string>
				</dict>
			</array>
			<key>SlotCount</key>
			<integer>2</integer>
		</dict>
		<key>Mobile</key>
		<true/>
		<key>ProductName</key>
		<string>MacBookPro9,2</string>
		<key>SerialNumber</key>
		<string>C02JCXFCDTY3</string>
		<key>SmUUID</key>
		<string>30409BBE-AC35-4139-8D16-8B8554F9C9C9</string>
		<key>Trust</key>
		<true/>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>CustomUUID</key>
		<string>30409BBE-AC35-4139-8D16-8B8554F9C9C9</string>
		<key>InjectKexts</key>
		<string>Yes</string>
		<key>InjectSystemID</key>
		<true/>
	</dict>
</dict>
</plist>
